server:
  port: 8080
  shutdown: graceful

spring:
  config:
    import: classpath:env.yml

  docker:
    compose:
      file: ${docker.compose.file}

  datasource:
    driver-class-name: ${datasource.driver-class-name}
    url: ${datasource.url}
    username: ${datasource.username}
    password:  ${datasource.password}
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate